extends layout

block content
  .row
    .span6
      != contents["readme.md"].html
    .span6
      #tryit
        div#tryit-header
          h2 Try It!
          .share-buttons
            include share-buttons
        - rows = 15
        .row
          div.span6.wrap
            #input.editor
              != JSON.stringify(contents["sample.json"]._metadata, {}, "  ")
        .row
          .span6
            a.btn.btn-warning#generate POST
            code
              |  http://schematic-ipsum.herokuapp.com/?n=
            input(type="text", value="1")#input-n
        .row
          .span6#error.text-error
        .row
          div.span6.wrap
            #output.editor

block append head
  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic',
    rel='stylesheet', type='text/css')
  script(src="http://code.jquery.com/jquery-1.8.3.min.js")
  script(src="js/ace/ace.js", type="text/javascript",charset="utf-8")
  script(src="js/generate.js")
