!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      meta(name='description', content=locals.description)
      meta(name='author', content=locals.owner)
      meta(name='keywords',
        content="JSON schema,JSON,schema,lorem ipsum,fake,data,generation,filler")
      link(rel='stylesheet', href='/css/github.css')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/main.css')
  body
    .container
      block content
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37485752-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

