span.
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_googleplus_large' displayText='Google +'></span>
  <script type="text/javascript"
  src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:
  "1d831a2d-5c9d-4a1a-8892-e9457bc9a4d4"});</script>
